[user]
	name = Max Moiseev
	email = max@maxmoiseev.com
[alias]
  ci = commit
  cim = commit -m
  cp = cherry-pick
  co = checkout
  st = status --short
  glog = log --graph --oneline
  l5 = log --graph --oneline -n5
  l10 = log --graph --oneline -n10
  d = diff --color
  ds = diff --staged --color
  dag = log --graph --pretty=format:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%cr) %C(cyan)<%an>%Creset' --abbrev-commit --date=relative
  rc = rebase --continue
  ra = rebase --abort

[push]
	default = current
[color]
	ui = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[safe]
	directory = /opt/homebrew
[rebase]
    autostash = true
[init]
    defaultBranch = main
[commit]
    verbuse = true
[diff]
    algorithm = histogram
    submodule = log
[merge]
    conflictstyle = zdiff3
[status]
    submoduleSummary =true
