[user]
	name = Maxim Moiseev
	email = maxim.moiseev@gmail.com
[alias]
    ci = commit
    cim = commit -m
    co = checkout
    st = status --short
    glog = log --graph --oneline
    l5 = log --graph --oneline -n5
    l10 = log --graph --oneline -n10
[push]
	default = simple
[color]
	ui = true
